# Diploma in Artificial Intelligence

# AI Programming (April 2021), Session 5

# Topic: Clustering

Load the health data in the file: THL_MyData2016_hackathon_dataset.xls
    
Select columns that have numeric values into a array. If you have a data frame called my_frame with variable names "a", "b", and "c", for instance, you can choose several columns by their names by accessing the columns:

another_dataframe = my_frame[['a','b']]

In [1]:
import pandas as pd

In [2]:
health_data = pd.read_excel("THL_MyData2016_hackathon_dataset.xls")

In [3]:
type(health_data)

pandas.core.frame.DataFrame

In [4]:
health_data.columns

Index(['ikalk', 'sp', 'bmi', 'systbp2', 'diastbp2', 'kol', 'kol_hdl',
       'Fx_plus', 'Fx'],
      dtype='object')

In [5]:
numeric_health_data = health_data[['bmi','systbp2', 'diastbp2','kol','kol_hdl']]

In [6]:
type(numeric_health_data)

pandas.core.frame.DataFrame

In [7]:
numeric_health_data.describe()

               bmi      systbp2     diastbp2          kol      kol_hdl
count  1188.000000  1188.000000  1188.000000  1188.000000  1188.000000
mean     27.109074   132.042912    78.334268     5.270606     1.482348
std       4.506711    17.805731    10.534951     0.995119     0.362748
min      16.530000    88.000000    45.770000     2.550000     0.700000
25%      23.940000   120.000000    72.000000     4.567500     1.220000
50%      26.540000   130.000000    78.000000     5.235000     1.440000
75%      29.707500   142.000000    86.000000     5.912500     1.710000
max      45.180000   200.630000   109.370000     8.830000     2.850000

Exercise 1. Create a clustering model from the numeric data that we have created. Use the k-means clustering algorithm, see the documentation in the https://scikit-learn.org/stable/modules/clustering.html page

In [8]:
# Your solution here, some hints in the comments:

# import the library function:
# from ... import KMeans

# number of clusters: 
# cl_model = .. number_of_cluster=4, 

# Plot results:
# plt.plot(cl_model.cluster_centers_.T)